.todo__list {
    $self: &;
    margin-bottom: 30px;

    li {
        display: flex;
        align-items: center;
        padding: 20px;
        margin-bottom: 5px;
        cursor: pointer;
        &:hover #{$self}-remove-icon {
            opacity: 0.3;
        }

        #{$self}-remove-icon {
            opacity: 0;
            &:hover {
                opacity: 0.8;
            }
        }

            &.active {
                background: #FFFFFF;
                box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
                border-radius: 15px;
            }
            &:hover {
                background: rgba(255, 255, 255, 0.5);
                border-radius: 15px
            }  
        span {
            flex: 1;
            text-overflow: ellipsis;
            overflow: hidden; 
            width: 160px;
            white-space: nowrap;
        }
        
    }

    

    span {
        margin-left: 15px;
    }
   

    &__add-button {
        color: #767676;

        &:hover {
            color: #000000;
        }
    }   
}