.todo__list {
    margin-bottom: 30px;
    
  

    li {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 5px;
    cursor: pointer;
        &.active {
            background: #FFFFFF;
            box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
        }
        &:hover {
            background: rgba(255, 255, 255, 0.5);
            border-radius: 15px
        }

        
    }

    

    span {
        margin-left: 15px;
    }
   

    &__add-button {
        color: #767676;

        &:hover {
            color: #000000;
        }
    }   
}