.tasks {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        padding-bottom: 30px;
        
        &-change {
            color: #DFDFDF;
            margin-top: 5px;
            margin-left: 10px;
            &:hover {
                color: #b9b9b9;
            }
            &:active {
                color: #727171;
            }
        }
    }
    &__items {
        margin-top: 30px;

        &:not(:last-of-type) {
            margin-bottom: 50px;
        }
    
        h2 {
            position: absolute;
            top: 50%;
            left: 50%;
            font-family: 'Montserrat';
            font-weight: bold;
            font-size: 32px;
            color: #C9D1D3;
        }

        &-row {
            display: flex;
            align-items: center;
            margin-top: 20px;

            &:hover &-actions {
                opacity: 1;
              }
            
            &-actions {
                display: flex;
                opacity: 0;
                transition: opacity 0.15s ease-in-out;

                div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 32px;
                    height: 32px;
                    background-color: rgb(244, 243, 243);
                    border-radius: 6px;
                    margin-left: 5px;
                    cursor: pointer;

                    ion-icon {
                        opacity: 0.5;
                    }

                    &:hover {
                        background-color: rgb(220, 220, 220);
                        ion-icon {
                            opacity: 1;
                        }
                    }
                }

            }

            input {
                margin-left: 20px;
                border: 0;
                font-size: 24px;
                width: 100%;  
            }

            
            .checkbox {
                ion-icon {
                    --ionicon-stroke-width: 60px;
                    color: #ffffff;
                    &:hover {
                        color: #B3B3B3;
                    }
                }
                input {
                    display: none;
                }

            }

            label {
                display: flex;
                align-items:center;
                justify-content: center;
                width: 30px;
                height: 30px;
                left: 255px;
                top: 147px;
                border: 2px solid #d1d1d1;
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                    background-color: #F2F2F2;
                    ion-icon {
                        color: #B3B3B3;
                    }
                }
                
            }

            input:checked + label {
                background-color: #4DD599;
                border-color: #4DD599;
                ion-icon {
                    color: #ffffff;
                    &:hover {
                        color: #ffffff;
                    }
                }
            }
            
        }
    }

}

