.todo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 3px 2px 30px rgb(199, 199, 199);
    width: 80vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    

    &__sidebar {
        position: relative;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        padding: 80px 60px;
        background-color: #F4F6F8;
        box-sizing: border-box;
        border-right: 1px solid #F1F1F1;
    }
    &__tasks {
        padding: 80px;
        flex: 1;
    }

    .tasks {
        display: flex;
        
        &__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #64C4ED;
            padding-bottom: 30px;
            border-bottom: 1px solid #F2F2F2;
            &-change {
                color: #DFDFDF;
                margin-top: 5px;
                margin-left: 10px;
                &:hover {
                    color: #b9b9b9;
                }
                &:active {
                    color: #727171;
                }
            }
        }
    }

    
}

