* {
    margin: 0;
    padding: 0;
    font-size: 18px;
    list-style: none;
    box-sizing:border-box;
    font-family: Roboto, -apple-system, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

ion-icon {
    font-size: 32px;
}

.button {
    background: #4DD599;
    border-radius: 4px;
    color: #FFFFFF;
    border: 0;
    padding: 20px 30px;
    cursor: pointer;
    &:hover {
        background-color: darken(#4DD599, 7%);
    }

    &:active {
        background-color: darken(#4DD599, 12%);
    }
}

.field {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 15px 20px;
    font-size: 18px;
    

    &:focus {
        outline: none;
        border-color: #dbdada;
    }
}